<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link href="./assets/icons/css/fontawesome.css" rel="stylesheet">
  <link href="./assets/icons/css/brands.css" rel="stylesheet">
  <link href="./assets/icons/css/solid.css" rel="stylesheet">
  <title>CV</title>
</head>
<body>
  <header>
    <img src="./assets/portrait.jpg" height="200px">
    <div class="title">
      <h1>Mervin Bratic</h1>
      <span>Frontend-developer</span>
    </div>
    <ul class="contact-info">
      <li><a href="https://kwik.se" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>kwik.se</a></li>
      <li><a href="mailto:mervin@kwik.se"><i class="fa-regular fa-envelope"></i>mervin@kwik.se</a></li>
      <li><a href="https://www.linkedin.com/in/mervin-bratic/" target="_blank"><i class="fa-brands fa-linkedin"></i>mervin-bratic</a></li>
      <li><a href="https://github.com/kwiknordic/" target="_blank"><i class="fa-brands fa-github"></i>kwiknordic</a></li>
      <li><i class="fa-solid fa-street-view"></i>stockholm</li>
    </ul>
  </header>
  <main>
    <div class="left">
      <div class="section justify-text">
        <h2>ABOUT ME</h2>
        <hr>
        <p>A self-taught Frontend developer with hands-on experience building projects on industry-proven technology. My career has been in the circular economy of consumer electronics, but the passion for software development has forced a career change. Expertise in consumer hardware aside; My new goal is an entry-level developer position I can contribute to, and a work culture in which I can develop. I have had work-related overseas tours and I feel safe in all kinds of dynamic, social and cultural environments. I posses great internal drive but prioritize the group over the self.
        </p>
      </div>
      <div class="section">
        <h2>KNOW-HOW IN DEVELOPMENT & WEB</h2>
        <hr>
        <ul>
          <li>HTML, CSS, JavaScript <em>(ES6+)</em>, React</li>
          <li>Node.js, Express, MongoDB, <em>CRUD</em></li>
          <li>GitHub, Tailwind CSS, SCSS, WordPress</li>
          <br>
          <li>Ran an ecommerce by myself</li>
          <li>Built web servers with Linux, Apache, nginx, MySQL</li>
        </ul>
      </div>
      <div class="section">
        <h2>EDUCATION</h2>
        <hr>
        <ul>
          <li>Stockholm university <em>(Law.deg, uncompleted studies)</em></li>
          <li>Viktor Rydberg Gymnasium</li>
          <li>Languages: swedish, english, bosnian</li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div>
        <h2>EMPLOYMENT HISTORY</h2>
        <hr>
          <div class="job-container">
            <h3>Founder and all-in-one</h3>
            <em class="date">Sisu Group AB - Jan 2021 to Nov 2022</em>
            <p>Mediated consumer electronics on the secondary market at a value of 40+ mil. SEK in the previous financial year.
            </p>
          </div>
          <div class="job-container">
            <h3>Project manager and developer</h3>
            <em class="date">Nordicbox.se - April 2019 to April 2022</em>
            <p>Developed and integrated ERP-systems for managing purchasing, logistics, forecasting and sales towards B2B.
            </p>
          </div>
          <div class="job-container indent">
            <h3>Purchases and sales</h3>
            <em class="date">Nordicbox.se - Feb 2018 to April 2019</em>
            <p>Principal in the creation of value additional from returned and broken consumer electronics from, among others; Tre, Telia and Telenor.
            </p>
          </div>
          <div class="job-container">
            <h3>Co-founder and project manager</h3>
            <em class="date">Far East Rising LTD - April 2017 to Dec 2018</em>
            <p>Förädlingshubb i Hong Kong, med fokus på cirkulär ekonomi, vars mål var att återvinna och återanvända trasiga reservdelar.
            </p>
          </div>
          <div class="job-container">
            <h3>Co-founder and webmaster</h3>
            <em class="date">Tellius AB - April 2017 to Aug 2018</em>
            <p>E-commerce with focus on buying and selling repaired consumer electronics (mainly cellphones).
            </p>
          </div>
      </div>
    </div>
  </main>
</body>
</html>