<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link href="./assets/icons/css/fontawesome.css" rel="stylesheet">
  <link href="./assets/icons/css/brands.css" rel="stylesheet">
  <link href="./assets/icons/css/solid.css" rel="stylesheet">
  <title>CV</title>
</head>
<body>
  <header>
    <img src="./assets/portrait.jpg" height="200px">
    <div class="title">
      <h1>Mervin Bratic</h1>
      <span>Frontend-utvecklare</span>
    </div>
    <ul class="contact-info">
      <li><i class="fa-regular fa-envelope"></i>mervin@kwik.se</li>
      <li><i class="fa-solid fa-arrow-up-right-from-square"></i>kwik.se</li>
      <li><i class="fa-brands fa-github"></i>kwiknordic</li>
      <li><i class="fa-solid fa-street-view"></i>stockholm</li>
    </ul>
  </header>
  <main>
    <div class="left">
      <div class="section justify-text">
        <h2>OM MIG</h2>
        <hr>
        <p>En självlärd Frontend-utvecklare med praktisk erfarenhet av att bygga projekt med branschbeprövad teknologi. Min karriär har varit inom cirkulär ekonomi av hemelektronik, men passionen för systemutveckling har påtvingat ett karriärsbyte. Utöver en god expertis inom hårdvara är jag också en ödmjuk lagspelare, öppen för juniora jobb-erbjudanden där jag kan både kan bidra från start och fortsätta utveckla min kunskapsbas.
        </p>
      </div>
      <div class="section">
        <h2>KOMPETENS INOM WEBB & IT</h2>
        <hr>
        <ul>
          <li>HTML, CSS, JavaScript <em>(ES6+)</em>, React</li>
          <li>Node.js, Express, MongoDB, <em>CRUD</em></li>
          <li>GitHub, Bootstrap, WordPress</li>
          <br>
          <li>Drivit e-handel på egen hand</li>
          <li>Byggt webbservrar med Linux, Apache, nginx, MySQL</li>
        </ul>
      </div>
      <div class="section">
        <h2>UTBILDNING</h2>
        <hr>
        <ul>
          <li>Självlärd inom webbutveckling</em></li>
          <li>Stockholm universitet <em>(Jur.kand, ej slutförda studier)</em></li>
          <li>Viktor Rydberg Gymnasium</li>
          <li>Språk: svenska, engelska, bosniska</li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div>
        <h2>JOBBHISTORIK</h2>
        <hr>
          <div class="job-container">
            <h3>Grundare och allt-i-ett</h3>
            <em class="date">Sisu Group AB - Jan 2021 till Nov 2022</em>
            <p>Partiförsäljning av återvunnen och reparerad hemelektronik. Omsatte 40m+ SEK under senaste räkneskapsåret.
            </p>
          </div>
          <div class="job-container">
            <h3>Projektledare och utvecklare</h3>
            <em class="date">Nordicbox.se - April 2019 till April 2022</em>
            <p>Utvecklade och integrerade ERP-system för hantering av inköp, logistik, prognosering och försäljning mot B2B.
            </p>
          </div>
          <div class="job-container">
            <h3>Försäljning och inköp</h3>
            <em class="date">Nordicbox.se - Feb 2018 till April 2019</em>
            <p>Huvudansvarig i skapandet av ett andrahandsvärde utav returnerad och trasig hemelektronik ifrån bl.a. Tre, Telia och Telenor.
            </p>
          </div>
          <div class="job-container">
            <h3>Medgrundare och projektledare</h3>
            <em class="date">Far East Rising LTD - April 2017 till Dec 2018</em>
            <p>Förädlingshubb i Hong Kong, med fokus på cirkulär ekonomi, vars mål var att återvinna och återanvända trasiga reservdelar.
            </p>
          </div>
          <div class="job-container">
            <h3>Medgrundare och webbutvecklare</h3>
            <em class="date">Tellius AB - April 2017 till Aug 2018</em>
            <p>E-handel med fokus på försäljning av reparerad hemelektronik (främst mobiltelefoni).
            </p>
          </div>
      </div>
    </div>
  </main>
</body>
</html>